name: Deploy Docs

on:
  push:
    branches: ["main"]
    paths:
      - 'Documentation~/avatar-compressor-docs/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Documentation~/avatar-compressor-docs

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
          cache-dependency-path: Documentation~/avatar-compressor-docs/pnpm-lock.yaml

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            Documentation~/avatar-compressor-docs/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('Documentation~/avatar-compressor-docs/pnpm-lock.yaml') }}-${{ hashFiles('Documentation~/avatar-compressor-docs/**.[jt]s', 'Documentation~/avatar-compressor-docs/**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('Documentation~/avatar-compressor-docs/pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        env:
          NEXT_PUBLIC_SITE_URL: ${{ vars.NEXT_PUBLIC_SITE_URL }}
          NEXT_PUBLIC_GA_MEASUREMENT_ID: ${{ vars.NEXT_PUBLIC_GA_MEASUREMENT_ID }}
        run: pnpm build

      - name: Add CNAME
        run: echo "lac.limitex.dev" > out/CNAME

      - name: Add .nojekyll
        run: touch out/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: Documentation~/avatar-compressor-docs/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
